name: Terraform AWS Setup

on:
  workflow_dispatch:
    inputs:
        environment:
          description: "deploy environments"
          required: true
          default: dev
          
  # push:
  #   branches:
  #     - main
  # pull_request:
  #   branches:
  #     - main

jobs:
  terraform:
    name: Terraform Workflow
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.0
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.SECRET_KEY }}
        aws-region: eu-north-1

    - name: Initialize Terraform
      run: terraform init

    - name: Select Workspace
      run: terraform workspace select ${{ github.event.pull_request.base.ref || 'default' }} || terraform workspace new ${{ github.event.pull_request.base.ref || 'default' }}

    - name: Generate Terraform Plan (PR Only)
      if: github.event_name == 'pull_request'
      run: terraform plan -out=tfplan

    - name: Generate Terraform Docs for PR Review
      if: github.event_name == 'pull_request'
      run: |
        terraform-docs markdown table . > README.md
        git diff --exit-code || exit 1

    - name: Terraform Apply (Main Branch)
      if: github.ref == 'refs/heads/main'
      run: terraform apply -auto-approve
