name: Terraform AWS Setup

on:
  workflow_dispatch:
    inputs:
        environment:
          description: "deploy environments"
          required: true
          default: dev
          type: choice
          options: 
            - dev
            - staging
            - prod
          
  # push:
  #   branches:
  #     - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    name: Terraform Workflow
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3
      with:
          token: ${{ secrets.TOKEN }}
          ref: main

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.5.0
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.SECRET_KEY }}
        aws-region: eu-north-1

    - name: Initialize Terraform
      run: terraform init

    - name: Select Workspace
      run: terraform workspace select ${{ github.event.inputs.environment || 'dev' }} || terraform workspace new ${{ github.event.inputs.environment || 'dev' }}

    - name: Generate Terraform Plan
      run: terraform plan -out=tfplan

    - name: install lfs
      run: |
         git lfs install
         git lfs track ".terraform/**/*"
         git add .gitattributes
         git commit -m "Add .terraform files to Git LFS"
         git push origin main

    - name: Install Terraform Docs
      if: github.event_name == 'pull_request'
      uses: terraform-docs/gh-actions@v1.3.0
      with:
          working-dir: .
          output-file: README.md
          output-method: inject
          git-push: "true"

    - name: Terraform Apply (Main Branch)
      if: github.ref == 'refs/heads/main'
      run: terraform apply -auto-approve
